Siav.APFlibrary/Service References/SiavWsCard/Card16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Folder.ValueObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Folder.ValueObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Card.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Card.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Card.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardIds" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="GroupsRead" nillable="true" type="q2:ArrayOfGroup" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="GroupsWrite" nillable="true" type="q3:ArrayOfGroup" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="OfficesRead" nillable="true" type="q4:ArrayOfOffice" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="OfficesWrite" nillable="true" type="q5:ArrayOfOffice" />
      <xs:element minOccurs="0" name="ParentDrawers" nillable="true" type="tns:ArrayOfDrawer" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="UsersRead" nillable="true" type="q6:ArrayOfUser" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="UsersWrite" nillable="true" type="q7:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfDrawer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Drawer" nillable="true" type="tns:Drawer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrawer" nillable="true" type="tns:ArrayOfDrawer" />
  <xs:complexType name="Drawer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Groups" nillable="true" type="q8:ArrayOfGroup" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Offices" nillable="true" type="q9:ArrayOfOffice" />
      <xs:element minOccurs="0" name="ParentCabinet" nillable="true" type="tns:Cabinet" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Users" nillable="true" type="q10:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Drawer" nillable="true" type="tns:Drawer" />
  <xs:complexType name="Cabinet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Groups" nillable="true" type="q11:ArrayOfGroup" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Offices" nillable="true" type="q12:ArrayOfOffice" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" minOccurs="0" name="Users" nillable="true" type="q13:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cabinet" nillable="true" type="tns:Cabinet" />
  <xs:complexType name="ArrayOfAutoCollationTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoCollationTemplate" nillable="true" type="tns:AutoCollationTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoCollationTemplate" nillable="true" type="tns:ArrayOfAutoCollationTemplate" />
  <xs:complexType name="AutoCollationTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchiveId" type="xs:int" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="DescriptionFieldId" type="q14:IdField" />
      <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAutoCreation" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsConfirmationRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MergeVisibility" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="NameFieldId" type="q15:IdField" />
      <xs:element minOccurs="0" name="RememberFirst" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoCollationTemplate" nillable="true" type="tns:AutoCollationTemplate" />
</xs:schema>