Siav.APFlibrary/Service References/SiavWsCard/Card8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRightsConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrAggiornamentoListe" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrAggiungerePagine" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrAnnullareProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrBloccoDocumento" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambiaSubnet" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambioClassFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambioStatoFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCancellaFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCancellaLista" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCestinareFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrClassificare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrConfermareAnnulla" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrConfermareRipristino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreaArmadiCassetti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreaFascicoli" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreateCompliantCopies" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrDisDisconnInattivita" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEliminareFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEnableSnaAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEnableSnaComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrExport" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrExportFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFascicolare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFascicolareArch" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFirmare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestRegProt" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneAnagrafica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneCartucce" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestionePrenotazioni" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTemplTit" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTipoFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTitolario" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneUtenti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneVoceTit" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestireModScanbatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportGenerico" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportSpool" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImpostaDocumenti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImpostaScadenza" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInsModRecAnagrafica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserimentoVuoti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserire" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserireNoteFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioMessaggi" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioOnLine" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioPec" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioTelematico" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrManageSharedMailboxData" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMassiveSending" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMettereInSmistamento" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaAllegati" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaAnnotazioni" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaArchDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaDati" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaDatiFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaImmagini" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMovimentazioneFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrOcr" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPartialCancels" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPostaEstesa" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPutInPreservation" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRicercare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRicezioneTelematica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRispedire" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSapPublish" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrScansione" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSmistare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSpedisciFax" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaImgControllata" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaImmagini" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaRegistro" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTasksCreate" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTasksManage" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTogliVisibilita" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrUndefined" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrUtilizzoGlifo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVerificaRicevute" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVisibilitaSoloDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVoceObsoleta" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVuoto1" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVuoto2" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRightsConfig" nillable="true" type="tns:UserRightsConfig" />
  <xs:complexType name="CardOperationsFromList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivalCollation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cancellation" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigitalSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="GraphometricSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="PdfNativeSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendExtendedEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendExternalEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sharing" type="xs:boolean" />
      <xs:element minOccurs="0" name="StandardCollation" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfForward" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfRefuse" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfTakeInCharge" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardOperationsFromList" nillable="true" type="tns:CardOperationsFromList" />
  <xs:complexType name="CardOperations">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" type="xs:boolean" />
      <xs:element minOccurs="0" name="AnalogCompliantCopyDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Annotations" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArchivalCollation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cancellation" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckInOutDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConvToPdfDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigestAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigestDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigitalCompliantCopyDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigitalSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="DigitalSignAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="DuplicateCardIndexes" type="xs:boolean" />
      <xs:element minOccurs="0" name="DuplicateCardIndexesAndDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElectronicSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElectronicStampingSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="GlifoAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="GlifoDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="GraphometricSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImportAddDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImportDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="Indexes" type="xs:boolean" />
      <xs:element minOccurs="0" name="InsModAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="Invalidation" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWf" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="PdfNativeSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="PdfNativeSignAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="PosteOnLine" type="xs:boolean" />
      <xs:element minOccurs="0" name="PressMarkDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteSignAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="SaveVersionDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScanAddDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScanDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendExtendedEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendExternalEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendInteropEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendInteropRefuseEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendInvoice" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendNotificationEC" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendPECCourtesyCopy" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendPECPEOEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendPECPEOEmailProtocolReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendPECPEOEmailReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sharing" type="xs:boolean" />
      <xs:element minOccurs="0" name="StandardCollation" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoreInteropEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="StorePECPEOEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeStampAtt" type="xs:boolean" />
      <xs:element minOccurs="0" name="Visibility" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfAssignInChargeTo" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfForward" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfProcessInfo" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfProcessRestore" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfProcessStart" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfProcessStop" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfProcessSuspend" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfRefuse" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfRemoveInChargeFrom" type="xs:boolean" />
      <xs:element minOccurs="0" name="WfTakeInCharge" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardOperations" nillable="true" type="tns:CardOperations" />
  <xs:complexType name="CardRightsConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="RwAggiungerePagine" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwAnnullareProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwCancellaLista" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwClassificare" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwFascicolare" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwFascicolareArch" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwModificaAllegati" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwModificaAnnotazioni" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwModificaDati" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwModificaImmagini" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwModificaProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwRispedire" type="xs:boolean" />
      <xs:element minOccurs="0" name="RwTogliVisibilita" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardRightsConfig" nillable="true" type="tns:CardRightsConfig" />
</xs:schema>