Siav.APFlibrary/Service References/SiavWsLogin/Login.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginFault" nillable="true" type="tns:LoginFault" />
  <xs:complexType name="BaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="InternalCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFault" nillable="true" type="tns:BaseFault" />
  <xs:complexType name="UserAccountDisabledFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserAccountDisabledFault" nillable="true" type="tns:UserAccountDisabledFault" />
  <xs:complexType name="ChangePasswordFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangePasswordFault" nillable="true" type="tns:ChangePasswordFault" />
  <xs:complexType name="InvalidSessionFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidSessionFault" nillable="true" type="tns:InvalidSessionFault" />
  <xs:complexType name="InvalidPasswordFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidPasswordFault" nillable="true" type="tns:InvalidPasswordFault" />
  <xs:complexType name="InvalidPasswordLengthFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidPasswordLengthFault" nillable="true" type="tns:InvalidPasswordLengthFault" />
  <xs:complexType name="InvalidPasswordFormatFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidPasswordFormatFault" nillable="true" type="tns:InvalidPasswordFormatFault" />
</xs:schema>