Siav.APFlibrary/Service References/SiavWsChart/Chart1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Login.ValueObject" />
  <xs:complexType name="BaseInput">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Login.ValueObject" name="SessionInfo" nillable="true" type="q1:SessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInput" nillable="true" type="tns:BaseInput" />
  <xs:complexType name="BaseOutput">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseOutput" nillable="true" type="tns:BaseOutput" />
</xs:schema>