Siav.APFlibrary/Service References/SiavWsChart/Chart4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRightsConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrAggiornamentoListe" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrAggiungerePagine" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrAnnullareProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrBloccoDocumento" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambiaSubnet" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambioClassFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCambioStatoFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCancellaFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCancellaLista" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCestinareFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrClassificare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrConfermareAnnulla" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrConfermareRipristino" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreaArmadiCassetti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreaFascicoli" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrCreateCompliantCopies" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrDisDisconnInattivita" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEliminareFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEnableSnaAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrEnableSnaComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrExport" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrExportFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFascicolare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFascicolareArch" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrFirmare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestRegProt" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneAnagrafica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneCartucce" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneFascicolo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestionePrenotazioni" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTemplTit" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTipoFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneTitolario" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneUtenti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestioneVoceTit" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrGestireModScanbatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportGenerico" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImportSpool" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImpostaDocumenti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrImpostaScadenza" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInsModRecAnagrafica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserimentoVuoti" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserire" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInserireNoteFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioMessaggi" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioOnLine" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioPec" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrInvioTelematico" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrManageSharedMailboxData" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMassiveSending" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMettereInSmistamento" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaAllegati" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaAnnotazioni" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaArchDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaDati" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaDatiFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaImmagini" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrModificaProtocollo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrMovimentazioneFasc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrOcr" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPartialCancels" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPostaEstesa" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrPutInPreservation" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRicercare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRicezioneTelematica" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrRispedire" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSapPublish" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrScansione" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSmistare" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrSpedisciFax" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaImgControllata" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaImmagini" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrStampaRegistro" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTasksCreate" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTasksManage" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrTogliVisibilita" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrUndefined" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrUtilizzoGlifo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVerificaRicevute" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVisibilitaSoloDoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVoceObsoleta" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVuoto1" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrVuoto2" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRightsConfig" nillable="true" type="tns:UserRightsConfig" />
</xs:schema>