Siav.APFlibrary/Service References/SiavWsChart/Chart9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Chart.ValueObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SIAV.Common.Tools.Log" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" />
  <xs:import schemaLocation="https://app01-docu-test.apf/ArchiflowService/Chart.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultExecutiveOffice" nillable="true" type="tns:Office" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email_WF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroup" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsOnlyGED" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="MainOffice" nillable="true" type="tns:Office" />
          <xs:element minOccurs="0" name="Offices" nillable="true" type="tns:ArrayOfOffice" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rights" nillable="true" type="tns:ArrayOfUserRight" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Types" minOccurs="0" name="RightsConfig" nillable="true" type="q1:UserRightsConfig" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="UserType" type="q2:UserType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Entity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SIAV.Common.Tools.Log" base="q3:LoggableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCVisibility" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Code" type="xs:short" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NormalVisibility" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="SendMail" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="Office">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildOffices" nillable="true" type="tns:ArrayOfOffice" />
          <xs:element minOccurs="0" name="ExecutiveOfficeGroups" nillable="true" type="tns:ArrayOfGroup" />
          <xs:element minOccurs="0" name="IsExecutiveOffice" type="xs:boolean" />
          <xs:element minOccurs="0" name="OfficePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" type="xs:short" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
          <xs:element minOccurs="0" name="VisibilityWeight" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Office" nillable="true" type="tns:Office" />
  <xs:complexType name="ArrayOfOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Office" nillable="true" type="tns:Office" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffice" nillable="true" type="tns:ArrayOfOffice" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfUserRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRight" nillable="true" type="tns:UserRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRight" nillable="true" type="tns:ArrayOfUserRight" />
  <xs:complexType name="UserRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="Id" type="q4:UserRights" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRight" nillable="true" type="tns:UserRight" />
  <xs:complexType name="ArrayOfLinkedOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkedOffice" nillable="true" type="tns:LinkedOffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinkedOffice" nillable="true" type="tns:ArrayOfLinkedOffice" />
  <xs:complexType name="LinkedOffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Office" nillable="true" type="tns:Office" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="Spread" type="q5:LinkedOfficeSpreadMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkedOffice" nillable="true" type="tns:LinkedOffice" />
  <xs:complexType name="GetUsersInfoByTypeInput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" base="q6:BaseInput">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="TypeMask" type="q7:UserTypeMask" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUsersInfoByTypeInput" nillable="true" type="tns:GetUsersInfoByTypeInput" />
  <xs:complexType name="GetUsersInfoByTypeOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" base="q8:BaseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserTypeInfoList" nillable="true" type="tns:ArrayOfUserTypeInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUsersInfoByTypeOutput" nillable="true" type="tns:GetUsersInfoByTypeOutput" />
  <xs:complexType name="ArrayOfUserTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTypeInfo" nillable="true" type="tns:UserTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTypeInfo" nillable="true" type="tns:ArrayOfUserTypeInfo" />
  <xs:complexType name="UserTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities.Types" minOccurs="0" name="UserType" type="q9:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeInfo" nillable="true" type="tns:UserTypeInfo" />
  <xs:complexType name="GetOfficesTreeInput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" base="q10:BaseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetAll" type="xs:boolean" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OfficesId" nillable="true" type="q11:ArrayOfshort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOfficesTreeInput" nillable="true" type="tns:GetOfficesTreeInput" />
  <xs:complexType name="GetOfficesTreeOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/SIAV.Archiflow.Entities" base="q12:BaseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="OfficesTree" nillable="true" type="tns:OfficeChartTreeItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOfficesTreeOutput" nillable="true" type="tns:GetOfficesTreeOutput" />
  <xs:complexType name="OfficeChartTreeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildrenOffices" nillable="true" type="tns:ArrayOfOfficeChartTreeItem" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Office" nillable="true" type="tns:OfficeChart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficeChartTreeItem" nillable="true" type="tns:OfficeChartTreeItem" />
  <xs:complexType name="ArrayOfOfficeChartTreeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficeChartTreeItem" nillable="true" type="tns:OfficeChartTreeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfficeChartTreeItem" nillable="true" type="tns:ArrayOfOfficeChartTreeItem" />
  <xs:complexType name="OfficeChart">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildrenOfficesIds" nillable="true" type="q13:ArrayOfint" />
      <xs:element minOccurs="0" name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficeChart" nillable="true" type="tns:OfficeChart" />
</xs:schema>