OCF_Ws/Service References/ConversionServices/ConversionServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConversionServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConversionServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MainDocument">
    <xs:sequence>
      <xs:element name="BinaryContent" nillable="true" type="xs:string" />
      <xs:element name="Filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainDocument" nillable="true" type="tns:MainDocument" />
  <xs:complexType name="Outcome">
    <xs:sequence>
      <xs:element name="iCode" type="xs:int" />
      <xs:element name="sDescription" nillable="true" type="xs:string" />
      <xs:element name="sTransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Outcome" nillable="true" type="tns:Outcome" />
</xs:schema>