Siav.APFlibrary/Service References/WsOcf/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="setMainDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="oMainDoc" nillable="true" type="q1:MainDocument" />
        <xs:element minOccurs="0" name="sGuidCard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMainDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="setMainDocumentResult" nillable="true" type="q2:Outcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="Attachment" nillable="true" type="q3:Attachment" />
        <xs:element minOccurs="0" name="sGuidCard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="setAttachmentResult" nillable="true" type="q4:Outcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setInternalAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sGuidCardFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sGuidCardTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sInternalNote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bBiunivocal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setInternalAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="setInternalAttachmentResult" nillable="true" type="q5:Outcome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="card" nillable="true" type="q6:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="setCardResult" nillable="true" type="q7:Outcome" />
        <xs:element minOccurs="0" name="sGuidCard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sGuidCard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bGetMainDoc" type="xs:boolean" />
        <xs:element minOccurs="0" name="bGetAttachment" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="getCardResult" nillable="true" type="q8:Outcome" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="card" nillable="true" type="q9:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="base64ToPdfA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="mainDoc" nillable="true" type="q10:MainDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="base64ToPdfAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="base64ToPdfAResult" nillable="true" type="q11:Outcome" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="mainDocOut" nillable="true" type="q12:MainDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPdfAFromTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aReplaceNameValue" nillable="true" type="q13:ArrayOfArrayOfstring" />
        <xs:element minOccurs="0" name="sGuidCard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPdfAFromTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="createPdfAFromTemplateResult" nillable="true" type="q14:Outcome" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="mainDocOut" nillable="true" type="q15:MainDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndexConfigFromTypeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sTipologiaDocumentale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndexConfigFromTypeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="getIndexConfigFromTypeDocumentResult" nillable="true" type="q16:Outcome" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIndexFieldKey" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSignCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="mainDoc" nillable="true" type="q18:MainDocument" />
        <xs:element minOccurs="0" name="sCRC32" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lNIN" nillable="true" type="q19:ArrayOfstring" />
        <xs:element minOccurs="0" name="bGetDocWithoutSign" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSignCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="getSignCheckResult" nillable="true" type="q20:Outcome" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/OCF_Ws.Model" minOccurs="0" name="mainDocOut" nillable="true" type="q21:MainDocumentChecked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>