Siav.APFlibrary/Service References/SiavWsAgraf/Agraf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Siav.Registry.WCF.Entities.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Siav.Registry.WCF.Entities.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegistryServiceExceptionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:RegistryExceptionCode" />
      <xs:element minOccurs="0" name="HResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="tns:RegistryExceptionSeverity" />
      <xs:element minOccurs="0" name="SqlStackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistryServiceExceptionDetail" nillable="true" type="tns:RegistryServiceExceptionDetail" />
  <xs:simpleType name="RegistryExceptionCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="RecordNotFound" />
      <xs:enumeration value="UniqueConstraintViolated" />
      <xs:enumeration value="IntegrityInsert" />
      <xs:enumeration value="IntegrityDelete" />
      <xs:enumeration value="OptionCheckFailed" />
      <xs:enumeration value="SyntaxErrorFtSearch" />
      <xs:enumeration value="TooManyTermsFtSearch" />
      <xs:enumeration value="IndexBookNotModifiable" />
      <xs:enumeration value="ContactVerNotModifiable" />
      <xs:enumeration value="IndexBookNotDeletable" />
      <xs:enumeration value="ContactNotRemovable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistryExceptionCode" nillable="true" type="tns:RegistryExceptionCode" />
  <xs:simpleType name="RegistryExceptionSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SuccessInfo" />
      <xs:enumeration value="ApplicationError" />
      <xs:enumeration value="COMError" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistryExceptionSeverity" nillable="true" type="tns:RegistryExceptionSeverity" />
</xs:schema>